@font-face {
    font-family: Amatic;
    src: url('Amatic-Bold.ttf');
}

*{
    -fx-font-family: Amatic;
}

.main{
    -fx-border-radius: 40px;
    -fx-background-radius: 40px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
    -fx-background-color: #FDE6CE;
}

.nav{
    -fx-border-color: #2B3F3E;
    -fx-border-width: 0 0 0.5 0;
}

.btn{
    -fx-background-color: #E5B171;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
    -fx-cursor: hand;
}

.btn:hover, .icon:hover{
    -fx-scale-x: 0.9;
    -fx-scale-y: 0.9;
    -fx-scale-z: 0.9;
}

.minimize{
    -fx-fill: red;
}

.lbl{
    -fx-text-fill: #2B3F3E;
    -fx-font-size: 30px;
}

.errorBtn{
    -fx-font-size: 25px;
}

.currentData{
    -fx-font-size: 50px;
}

.data{
    -fx-font-size: 25px;
}

.date{
    -fx-underline:true;
}

.description{
    -fx-font-size: 21px;
}

.container, .forecast{
    -fx-background-color: #CCBCA3;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
}

.current{
    -fx-background-color: #888A82;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
}






