.main{
        -fx-border-width: 3px;
        -fx-border-style: solid;
        -fx-border-color: black;
        -fx-border-radius: 5px;
        -fx-background-radius: 5px;
        -fx-background-color: #17B0C9;
        -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

.btn{
            -fx-border-width: 2px;
            -fx-border-style: solid;
            -fx-border-color: black;
            -fx-border-radius: 5px;
            -fx-background-radius: 5px;
            -fx-background-color: #17B0C9;

}

.container{
   -fx-border-width: 2px;
   -fx-border-style: solid;
   -fx-background-color: #FEF5D2;
}

.second{
    -fx-border-width: 2px 2px 0px 2px;
    -fx-border-style: solid;
    -fx-border-color: black;
    -fx-background-color: #F099A1;
}

.first{
-fx-border-width: 2px 2px 0px 2px;
    -fx-border-style: solid;
    -fx-border-color: black;
    -fx-background-color: #FEF5D2;
}


.btn:hover{
    -fx-background-color:  #F2E8CD;
}

